.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f51b5; /* Основний колір */
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav {
  display: flex;
  gap: 20px;
}

.link {
  color: rgb(179, 32, 32);
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

button {
  padding: 8px 12px;
  background-color: #f44336;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #d32f2f;
}
