/* src/components/Navigation/Navigation.module.css */

.nav {
  display: flex;
  gap: 20px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease, padding 0.2s ease;
}

.link:hover {
  color: #ff9800; /* Змінюємо колір при наведенні */
  padding: 10px 12px; /* Легке збільшення padding для підкреслення */
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
