.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navLinks a {
  margin-right: 20px;
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.navLinks a:hover {
  text-decoration: underline;
}
.link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease, padding 0.2s ease;
}

.link:hover {
  color: #160a5a;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
