.listItemContact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgb(8, 8, 8);
  padding: 10px;
  margin-bottom: 5px;
}

.buttonContacts {
  margin-right: 2px;
  color: rgb(255, 255, 255);
  background-color: #ff9800;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 5px;
  transition: background-color 0.3s;
  font-size: 10px;
  width: 90px;
}

.name {
  display: flex;
}
.contactItem svg {
  margin-right: 8px;
  transform: translateY(2px);
}
