.contactFormContainer {
  width: 400px;
  display: flex;
  justify-content: center; /* Центруємо по горизонталі */
  align-items: center; /* Центруємо по вертикалі */
}
.inputContact {
  border: 1px solid #000000; /* Оранжева обводка для інпуту */
  padding: 8px 12px; /* Відступи для комфорту */
  border-radius: 5px; /* Заокруглені кути */
  font-size: 14px; /* Розмір шрифту */
  width: 100%; /* Розтягнути на всю ширину */
}

.inputContact:focus {
  outline: none; /* При фокусі прибираємо стандартне виділення */
  border-color: #e68900; /* Змінюємо колір обводки при фокусі */
}
