.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.authNav a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.authNav a:hover {
  text-decoration: underline;
}
.link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #000000;
}
